.chart-wrapper {
  padding: 2%;
  display: inline-block;
}

.main.chart-wrapper {
  width: 80%;
  height: 400px;
}

.sub.chart-wrapper {
  margin-top: 1%;
  width: 29%;
  height: 300px;
}

/* Simple responsivenss example */
@media (max-width: 700px) {
  .sub.chart-wrapper {
  	margin-top: 0;
    width: 96%;
  }
}